<header class="app-header">
  <mat-toolbar>
    <img
      src="../../../assets/images/Logo-branco 1.png"
      alt="Logo da aplicação"
    />
    <span class="spacer"></span>
    <a mat-button href="https://www.google.com/" target="_blank"
      >Vender milhas</a
    >
    <a mat-button href="https://www.google.com/" target="_blank">Sobre</a>
    <a
      mat-raised-button
      color="primary"
      href="https://www.google.com/"
      target="_blank"
      >Cadastre-se</a
    >
    <a mat-stroked-button href="https://www.google.com/" target="_blank"
      >Cadastre-se</a
    >
  </mat-toolbar>
</header>
